body {
  margin: 1vw;
  padding: 1vw;
  font-size: 1.5vw;
  background-color: palegoldenrod;
}
img {
  height: 20vh;
  width: 10vw;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 3px 7px #585858;
}
table {
  text-align: left;
}
th {
  width: 5vw;
  margin: 0;
  padding: 0 1vw;
}
tr > td {
  width: 50vw;
}
.navButton {
  width: 26.5vw;
  font-size: 2vw;
  margin: 1vw;
  border-radius: 5px;
  background-color: goldenrod;
  box-shadow: 3px 7px #585858;
}
.navButton > button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.deleteCeleb {
  width: 6vw;
  padding: .5vh 1.5vw;
  margin: 1vw;
  font-size: 1vw;
  border-radius: 5px;
  background-color: goldenrod;
  box-shadow: 3px 7px #585858;
}
.trophy {
font-size: 4vw;
}